Checks: >
  bugprone-*,
  performance-*,
  portability-*,
  readability-*
 -readability-convert-member-functions-to-static
 
WarningsAsErrors: ''

HeaderFilterRegex: '(src|inc|dev|tests)/.*'

FormatStyle: file